<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>

<body>
    <h1>注册界面</h1>
    <form action="http://127.0.0.1:5000/register" method="POST">
        用 户 名 ：<input type="text" name="username"><span class="check"></span><br>
        密　　码：<input type="password" name="password"><span class="check"></span><br>
        确定密码：<input type="password" name="repassword"><span class="check"></span><br>
        <input type="submit" value="注册"><span></span>
    </form>
    <script src="../js/register.js"></script>
</body>
</html>